# Python version: 3.11.9
openai
# Core LangChain libraries
langchain
langchain-core
langchain-community


# Vector Database
pymilvus

# Data Handling & Embedding
pandas
openpyxl
sentence-transformers
numpy

# Model & Acceleration
transformers
torch
accelerate

# Environment & Utilities
python-dotenv